.learn{
    box-sizing: border-box;
/* position: absolute; */
/* width: 100vw; */
height: 774px;
left: 0px;
top: 1794px;
background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
border: 1px solid #000000;
display: flex;
align-items: center;
}


.learn h1{
    font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: white;


}

.learn p{
    font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
color: white;
}
.learnContent{
    max-width: 414px;
    margin-left: 4rem;
    /* max-height: 146px; */
}
.learn button{
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
border-radius: 8px;
Width:156px;
Height:48px;


}
.learn button p{
    font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height, or 120% */

text-align: center;

/* MAJOR */

background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.learnImg{
    bottom: 25rem;
    position: relative;
    right: 32rem;
}
.image8{
    position: absolute;
    left: 59rem;
    top: 371.93px;
    border-radius: 10px;
    transform: rotate(-0.76deg);

}
.image7{
    position: absolute;

    left: 40rem;
    top: 264.13px;
    border-radius: 10px;
    transform: rotate(7.98deg);
}

.image9{
    position: absolute;
    left: 57rem;
    top: 109px;
    border-radius: 10px;
    transform: rotate(2.76deg);
}